<!-- your html code here -->
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid mb-0">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand link-secondary" href="#">Start bootstrap</a>
                <a class="nav-link link-secondary " href="#">About</a>
                <a class="nav-link link-secondary " href="#">Services</a>
                <a class="nav-link link-secondary " href="#">Portfolio</a>
                <a class="nav-link link-secondary ">Contact</a>
            </div>
        </div>
    </div>
</nav>